#map,
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#panel {
    width: 250px;
    height: 100%;
    background: black;
    font-family: Arial, sans-serif;
    font-size: 13px;
    float: right;
    padding: 5px;
}

.address-lbl {
    color: white;
    font-size: 20px;
}

.search-container{
    margin-top: 200px;
}

#address-input {
    height: 25px;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

button#confirmBtn, button#resetBtn {
    margin-top: 200px;
    padding: 5px 10px;
    font-size: 18px;
    margin-left: 25px;
    background-color: transparent;
    color: orangered;
    border: 2px solid orangered;
    border-radius: 10px;
    cursor: pointer;
}

button#resetBtn {
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
}
